.draw_tools {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.draw_tools .left {
    float: left;
    width: 230px;
}
.draw_tools .right {
    float: right;
    width: 90px;
}

button.drawbutton {
    width: 250px !important;
    margin: 2px;
    text-transform: capitalize;
}

.red {
    color: red;
}

.hidden {
    display: none;
}

.ui-widget {
    font-size: 1.0em !important;
}
.ui-icon-point {
    width: 30px;
    float: right;
}

#proposal-form table {
    margin: 0 auto;
}

/* Carousel style */
.carousel {
    width: 100%;
    white-space: nowrap;
    text-align: center;
}
.carousel .carousel-inner .item {
    display: inline-block;
    opacity: 0.7;
    border: 2px solid white;
}
.carousel .carousel-inner .item:hover {
    opacity: 1;
}
.carousel .carousel-inner .active.item {
    opacity: 1;
    border: 2px solid black;
}
.carousel .full_image {
    position: relative;
}
