#content {
    padding: 4px;
}
.draw_tools {
    padding-right: 20px;
    margin-bottom: 10px;
    height: 130px;
}
.draw_tools .left {
    float: left;
    width: 230px;
}
.draw_tools .right {
    float: right;
    width: 90px;
}

button.drawbutton {
    width: 90px !important;
    margin: 1px;
}

.red {
    color: red;
}
