{% extends "base_map.html"%}
{% load i18n %}
{% load webdesign %}

{% block title %}
{% trans 'Järvenpää' %} - {% trans 'pehmoGIS' %}
{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/planning_project.css" />
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
{% endblock stylesheet %}


{% block content %}

<div class="breadcrumbs">
    <a class="reset" href="{% url dashboard %}">{% trans 'Dashboard' %}</a>
    &gt;&gt;
    <span>{{ project_name }}</span>
</div>


    <h1 class="project_title">{{ project_name }}</h1>
    <div class="short_description">
        {% lorem 50 w %}
        <br />
        <br />
        <a id="opener" class="reset" href="http://www.jarvenpaa.fi">
        {% trans "More information about the project" %}
    </a>
        <br />
        <br />
    </div>

    <div id="accordion">
        <h3>
        <a href="#">{% trans "Pajalanpiha" %} {% trans 'proposal' %} 1</a>
    </h3>
        <div>
            {% lorem 25 w %}
        <br />
        {{ proposal_url }}
        <a class="reset" href="{% url plan_proposal project_name 'ehdotus-1' %}">
        {% trans "Look at and evaluate the proposal" %}
        </a>
        </div>
        <h3>
        <a href="#">{% trans "Pajalanpiha" %} {% trans 'proposal' %} 2</a>
    </h3>
        <div>
            {% lorem 25 w %}
        <br />
        <a class="reset" href="{% url plan_proposal project_name 'ehdotus-2' %}">
        {% trans "Look at and evaluate the proposal" %}
        </a>
        </div>
        <h3>
        <a href="#">{% trans "Pajalanpiha" %} {% trans 'proposal' %} 3</a>
    </h3>
        <div>
            {% lorem 25 w %}
        <br />
        <a class="reset" href="{% url plan_proposal project_name 'ehdotus-3' %}">
        {% trans "Look at and evaluate the proposal" %}
        </a>
        </div>
    </div>

    <div id="more_info" title="{% trans 'More information about the project' %}">
        <p>{% lorem 200 w %}</p>
    </div>

{% endblock %}

{% block provider_url %}
http://www.jarvenpaa.fi/
{% endblock %}

{% block provider_name %}
{% trans 'Järvenpään kaupunki' %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
</script>
<!--<script src="http://openlayers.org/api/OpenLayers.js"></script>-->
<script src="https://softgis.org.aalto.fi/OpenLayers/OpenLayers.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}OpenLayers.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/planning_project.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/base_map.js"></script>
{% endblock javascript %}
