{% extends "base_map.html"%}
{% load i18n %}
{% load webdesign %}

{% block title %}
Järvenpää - pehmoGIS
{% endblock %}

{% block bgcolor %}
#0051BA
{% endblock %}

{% block textcolor %}
#0051BA
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL }}css/planning_feedback.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL }}css/jquery.ui.stars.min.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheet %}

{% block body_class %}
tundra
{% endblock %}

{% block city_name %}
Järvenpää
{% endblock %}

{% block content %}

<div class="breadcrump">
    <a class="reset" href="{% url dashboard %}">Dashboard</a>
    >>
    <span>{{ProjectName}}</span>
</div>

    
    <h1 class="project-title">{{ProjectName}}</h1>
    <div class="short-description">
        {% lorem 50 w %}
        <br />
        <br />
        <a id="opener" class="reset" href="http://www.jarvenpaa.fi">
	    {% trans "More informationa about the project" %}
	</a>    
        <br />
        <br />
    </div>    

    <div id="accordion">
        <h3><a href="#">{% trans "Pajalanpiha" %}</a></h3>
        <div>
            {% lorem 25 w %}
			<br/>
			<br/>
			<a class="reset" href="{% url plan_proposal 'Pajalanpiha' %}">
			    {% trans "Look at and evaluate the proposal" %}
			</a>
  
        </div>
        <h3><a href="#">{% trans "Reservikomppania" %}</a></h3>
        <div>
            {% lorem 25 w %}
			<br/>
			<br/>
			<a class="reset" href="{% url plan_proposal 'Reservikomppania' %}">
			    {% trans "Look at and evaluate the proposal" %}
			</a>
        </div>
        <h3><a href="#">{% trans "Proposal 3" %}</a></h3>
        <div>
            {% lorem 25 w %}
			<br/>
			<br/>
			<a class="reset" href="{% url plan_proposal 'Proposal3' %}">
			    {% trans "Look at and evaluate the proposal" %}
			</a>
        </div>
    </div>

    <div id="dialog" title="More informationa about the project">
        <p>{% lorem 200 w %}</p>
    </div>

{% endblock %}

{% block provider_url %}
http://www.jarvenpaa.fi/
{% endblock %}

{% block provider_name %}
Järvenpään kaupunki
{% endblock %}

{% block javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.ui.stars.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascript/cont-planning_map.js"></script>
	
      
    
    
    <script type="text/javascript">
        <!--
        dojo.addOnLoad(init);
        document.body.style.cursor = "default";
	jQuery(document).ready(function(){
	    $("#accordion").accordion({
			            'collapsible': true,
			            'autoHeight': false,
				    'active': false
			            });
			
		
	    $( "#dialog" ).dialog({
				'autoOpen': false,
				'show': "blind",
				'width': 600
			});
		
	    $( "#opener" ).click(function() {
		    $( "#dialog" ).dialog( "open" );
			return false;
    		});				
	    });

	var SHOW_PLAN = false;
        var INITIAL_EXTENT = {
                            "xmax":402203,
                            "xmin":389080,
                            "ymax":6710417,
                            "ymin":6702687};
        -->
        
    </script>
        
{% endblock javascript %}
