{% extends "base_map.html"%}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/planning_feedback.css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li>
        <a href="{% url dashboard %}">{% trans "Dashboard" %}</a>
        <span class="divider">&gt;&gt;</span>
    </li>
    <li class="active">
        {{ proposal_details.name }}
    </li>
</ul>

<div class="proposal-info">
    <!--<h1 class="proposal-title">{{ proposal_name }}</h1>-->
    <h1 class="proposal-title">
    {{ proposal_details.name }}
    </h1>
    <div class="short_description">
        <p>{{ proposal_details.short_description|safe }}</p>
        <a id="more_info_link" class="reset" href="#">
            {% trans "More information about the draft" %}
        </a><br /><br />

        {% for p in proposal_image %}
        <a class="proposal_img img_{{ p.id }}" href ="#">
            {{ p.title }}
        </a><br />
        {% endfor %}

    </div>

    <h2>{% trans "Evaluate the draft" %}</h2>
    <p>
        {% trans "Comment on the plan draft by selecting any of the drawing tools below." %}
    </p>
    <div class="draw_tools">
        <button type="button" class="drawbutton point" id="point_feedback" name="place">
        {% trans "place" %}
        </button><br />
        <button type="button" class="drawbutton route" id="route_feedback" name="route">
        {% trans "route" %}
        </button><br />
        <button type="button" class="drawbutton area" id="area_feedback" name="area">
        {% trans "area" %}
        </button>
    </div>
    <form id="proposal-form" action="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td colspan="2">{% trans "Free comment" %}</td>
            </tr>
            <tr class="free_comment_thanks">
                <td colspan="2">
                    <div class="red">{% trans "Thank you for your comment!" %}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="free_comment" name="free_comment" cols="33" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="submit-evaluation" value="{% trans 'Send comment' %}" />
                </td>
            </tr>
        </table>
    </form>
    <!--
    <br /><br />
    <a class="reset" href="{% url planning_project project_name %}">
    {% trans "Back to previous page" %}
    </a>
    -->
</div>

<div id="more_info" title="{% trans 'More information about the plan' %}">
{{ proposal_details.detailed_description|safe }}
</div>

<!-- infowindows with id's put here so that translations work -->
<div id="place" class="popup hidden">
    <p>{% trans "Please, tell us more about the place" %}:</p>
    <form name="popupform" action="#">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save place" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove place" %}
        </button>
    </form>
</div>
<div id="route" class="popup hidden">
    <p>{% trans "Please, tell us more about the route" %}:</p>
    <form name="popupform" action="#">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save route" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove route" %}
        </button>
    </form>
</div>
<div id="area" class="popup hidden">
    <p>{% trans "Please, tell us more about the area" %}:</p>
    <form name="popupform" action="#" method="post">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save area" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove area" %}
        </button>
    </form>
</div>

{% for p in proposal_image %}
<div id="img_{{ p.id }}" title="{{p.title}}" class="image dialog">
    <img alt="{% trans 'ilmakuva' %} 1" src="{{p.image.url}}" width="800" height="521" />
</div>
{% endfor %}

{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script src="https://softgis.org.aalto.fi/OpenLayers/OpenLayers.js"></script>
<script type="text/javascript" src="{% url api_javascript %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.drawbutton.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/planning_feedback.js"></script>
{% endblock javascript %}
