{% extends "planning_project.html"%}
{% load i18n %}
{% load webdesign %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/planning_feedback.css" />
    <!--<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.rating.css" />-->
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheet %}

{% block content %}
<!--
<div class="breadcrump">
    <a class="reset" href="{% url dashboard %}">{% trans 'Dashboard' %}</a>
    &gt;&gt;
    <a class="reset" href="{% url planning_project project_name %}">
    {{ project_name }}
    </a>
    &gt;&gt;
    <span>{{ proposal_name }}</span>
</div>
-->

<div class="proposal-info">
    <!--<h1 class="proposal-title">{{ proposal_name }}</h1>-->
    <h1 class="proposal-title">Lepola III</h1>
    <div class="short_description">
        <p>Tällä sivulla voit katsella ja kommentoida Lepola III
        suunnitelmaa.</p>
        <p>Alueen asemakaava ja asemakaavan muutos perustuvat Järvenpään yleiskaavan 2020
ja Lepolan osayleiskaavan (2009) maankäytön ratkaisuihin. Alue kuuluu valtakunnallisesti sekä maakunnallisesti merkittävään rakennettuun  kulttuuriympäristöön. Pääasiallinen käyttötarkoitus nykyiseen asemakaavaan nähden muuttuu asumispainotteiseksi, mutta monitoimialueen luonne säilyy.</p>
<p>Palvelu on kehitetty yhteistyössä Aalto yliopiston kanssa. Lisätietoa ja yhteystiedot löytyvät <a href="http://ytk.aalto.fi/fi/tutkimus/hankkeet/urbaani_arki/">Urbaani arki</a> projektin sivulta.</p>
    <a id="more_info_link" class="reset" href="#">
        {% trans "More information about the draft" %}
    </a><br /><br />
    <a id="pic1_link" href="#">{% trans "show image from north of this draft" %}</a><br />
    <a id="pic2_link" href="#">{% trans "show image from south of this draft" %}</a><br />
    <a id="pic3_link" href="#">{% trans "show image of the whole draft" %}</a><br />
    <a id="streetview_link" href="#">{% trans "show streetview picture" %}</a><br />
    </div>
    <h2>{% trans "Evaluate the draft" %}</h2>
    <div class="draw_tools">
        <div class="left">
            {% trans "Comment on the plan draft by selecting any of the drawing tools on the right." %}
        </div>
        <div class="right">
            <button type="button" class="drawbutton point" id="point_feedback" name="place">
            {% trans "place" %}
            </button><br />
            <button type="button" class="drawbutton route" id="route_feedback" name="route">
            {% trans "route" %}
            </button><br />
            <button type="button" class="drawbutton area" id="area_feedback" name="area">
            {% trans "area" %}
            </button>
        </div>
    </div>
    <form id="proposal1-form" action="POST">
        {% csrf_token %}
        <table>
            <!--
            <tr>
                <td>{% trans "Give a general rating" %}:</td>
                <td>
                    <div class="ratings">
                        <input name="star1" type="radio" class="star"/>
                        <input name="star1" type="radio" class="star"/>
                        <input name="star1" type="radio" class="star"/>
                        <input name="star1" type="radio" class="star"/>
                        <input name="star1" type="radio" class="star"/>
                    </div>
                </td>
            </tr>
            <tr><td></td><td></td></tr>
            -->

            <tr>
                <td colspan="2">{% trans "Free comment" %}</td>
            </tr>
            <tr class="free_comment_thanks">
                <td colspan="2">
                    <div class="red">{% trans "Thank you for your comment!" %}</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="free_comment" name="free_comment" cols="33" rows="5"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <input type="submit" class="submit-evaluation" value="{% trans 'Send comment' %}" />
                </td>
            </tr>
        </table>
    </form>
    <!--
    <br /><br />
    <a class="reset" href="{% url planning_project project_name %}">
    {% trans "Back to previous page" %}
    </a>
    -->
</div>

<div id="more_info" title="{% trans 'More information about the plan' %}">
<p>
<b>Lepola III</b>-alue kuuluu osana valtakunnallisesti sekä maakunnallisesti merkittävään rakennettuun <b>Tuusulan Rantatien</b> kulttuuriympäristöön. Alueen erityisarvojen huomioimiseksi asemakaavoitus tehdään yhteistyössä museoviranomaisten kanssa. Asemakaavoituksen yhteydessä tarkistetaan alueen rakennusten ja piha-alueiden suojelutilanne. Alueen tärkeät virkistysarvot huomioidaan suunnittelussa.
Yleiskaavojen perusteella alueeseen kohdistuu kulttuuriympäristöön liittyviä suunnittelurajoituksia.
</p>
<b>Suunnittelualue</b>
<p>
Suunnittelualue sijaitsee <b>Lepolan</b> kaupunginosassa keskustan eteläpuolella. Kaava-alue rajautuu pohjoisessa Sipoontiehen, itäpuolella rakenteilla olevan Lepolan I:n uusiin asuin- ja virkistysalueisiin ja Kyrölän peltoalueisiin,
ja lännessä Sibeliuksenväylään. Etelässä kaava-alueeseen sisältyy osa Poikkitien maantiealueesta.
</p>
<b>Suunnittelun tavoite</b>
<p>
Alueen asemakaava ja asemakaavan muutos perustuvat Järvenpään yleiskaavan 2020 ja Lepolan osayleiskaavan (2009) maankäytön ratkaisuihin.  Alueen pääasiallinen käyttötarkoitus nykyiseen asemakaavaan nähden muuttuu asumispainotteiseksi, mutta monitoimialueen luonne säilyy. Asuinkortteleiden sijoittaminen alueelle on kestävän kehityksen mukaista raideliikenteeseen sekä keskustan palveluihin tukeutuen. Mahdolliselle Sibelius- vierailukeskukselle varataan korttelialue.
</p>

<b>Aikataulu</b>
<p>
Asemakaava ja asemakaavan muutos on käynnistetty helmikuussa 2011.
Asemakaavaluonnos on nähtävänä (MRL 62 §) arviolta helmikuussa 2012.
Yleisötilaisuus järjestetään kaavaluonnoksen nähtävilläolon yhteydessä.
Asemakaavaehdotus asetetaan julkisesti nähtäväksi (MRL 65 §, MRA 27§)
30 päivän ajaksi arviolta v.2012 lopulla.
Tavoitteena asemakaavan ja tonttijaon muutoksen hyväksyminen vuodenvaihteessa 2012-2013.
</p>
<a href="http://www.jarvenpaa.fi/sivustot/lepola/">Lisätietoa löydät Lepolan suunnittelusivuilta</a>

</div>
<div id="pic1" title="{% trans 'Model image' %} 1">
    <img alt="{% trans 'ilmakuva' %} 1" src="{{ STATIC_URL }}images/ILMAKUVA_1_VALMIS.jpg" />
</div>
<div id="pic2" title="{% trans 'Model image' %} 2">
    <img alt="{% trans 'ilmakuva' %} 2" src="{{ STATIC_URL }}images/ILMAKUVA_2_VALMIS.jpg" />
</div>
<div id="pic3" title="{% trans 'Model image' %} 3">
    <img alt="{% trans 'ilmakuva' %} 3" src="{{ STATIC_URL }}images/ILMAKUVA_3_VALMIS.jpg" />
</div>
<div id="streetview" title="{% trans 'Streetview' %}">
    <img alt="{% trans 'katukuva' %}" src="{{ STATIC_URL }}images/KATUPERSPEKTIIVI_1_VALMIS.jpg" />
</div>

<!-- infowindows with id's put here so that translations work -->
<div id="place" class="popup">
    <p>{% trans "Please, tell us more about the place" %}:</p>
    <form name="popupform" action="#">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save place" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove place" %}
        </button>
    </form>
</div>
<div id="route" class="popup">
    <p>{% trans "Please, tell us more about the route" %}:</p>
    <form name="popupform" action="#">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save route" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove route" %}
        </button>
    </form>
</div>
<div id="area" class="popup">
    <p>{% trans "Please, tell us more about the area" %}:</p>
    <form name="popupform" action="#" method="post">
        <textarea name="comment" cols="24" rows="5" ></textarea><br />
        <button type="button" class="save_feature">
        {% trans "save area" %}
        </button>
        <button type="button" class="remove_feature">
        {% trans "remove area" %}
        </button>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<!--<script src="https://cdn.jquerytools.org/1.2.6/jquery.tools.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.ui.stars.min.js"></script>-->
<script src="https://softgis.org.aalto.fi/OpenLayers/OpenLayers.js"></script>
<!--
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}OpenLayers.js"></script>
-->
<script type="text/javascript" src="{% url api_javascript %}"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.rating.pack.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}javascript/jquery.ui.drawbutton.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}javascript/planning_feedback.js"></script>



{% endblock javascript %}
