{% extends "base_map.html"%}
{% load i18n %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/planning_feedback.css" />
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}


<ul class="breadcrumb base_bgcolor">
    <li class="disk hover" onclick="window.location = '{% url dashboard %}'">
    </li>
    <li class="separator">
    </li>
    <li class="active">
        <h3>
            {{ proposal_details.name }}
        </h3>
    </li>
</ul>

<div class="proposal-info">
    <div class="short_description">
        <p>{{ proposal_details.short_description|safe }}
        </p>
        <p>
            <a id="more_info_link" class="reset" href="#">
                {% trans "Read more about the draft..." %}
            </a>
        </p>

        <div id="imageCarousel" class="carousel">

            <div class="carousel-inner">
                {% for p in proposal_image %}
                    <div id="img_{{ p.id }}" class="item">
                        <img src="{{ p.image.url }}" alt="{% trans 'proposal image' %}" height="70" width="70" />
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <h4 class="base_textcolor">{% trans "Evaluate the draft" %}</h4>
    <p>
        {% trans "Mark places on the draft where you feel the draft is good and where it needs improvement. Use the drawing tools below." %}
    </p>
    
    <form id="proposal-form" action="POST">
        
        <div class="draw_tools">
            <button type="button" class="drawbutton point" id="point_feedback" name="place" data-color="ee9900" data-popup="place">
            {% trans "place" %}
            </button><br />
            <button type="button" class="drawbutton route" id="route_feedback" name="route"
            data-color="ee9900" data-popup="route">
            {% trans "route" %}
            </button><br />
            <button type="button" class="drawbutton area" id="area_feedback" name="area"
            data-color="ee9900" data-popup="area">
            {% trans "area" %}
            </button>
        </div>
        
        <table>
            <tr>
                <td colspan="2">
                    <label>{% trans "Free comment" %}</label>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="free_comment" name="free_comment" cols="33" rows="5"></textarea>
                </td>
            </tr>
            <tr class="free_comment_thanks">
                <td colspan="2">
                    <div class="red">{% trans "Thank you for your comment!" %}</div>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    <button type="button" class="submit-evaluation">{% trans 'Send comment' %}</button>
                </td>
            </tr>
        </table>
    </form>
    <!--
    <br /><br />
    <a class="reset" href="{% url planning_project project_name %}">
    {% trans "Back to previous page" %}
    </a>
    -->
</div>

<div id="more_info" title="{% trans 'More information about the plan' %}">
{{ proposal_details.detailed_description|safe }}
</div>

<!-- infowindows with id's put here so that translations work -->
<div id="popups">
    <div id="place" class="popup hidden">
        <p>{% trans "Please, tell us more about the place" %}:</p>
        <form name="place" class="popupform" action="#">
            <textarea name="comment" cols="24" rows="5" ></textarea><br />
            <button type="button" class="save">
            {% trans "save place" %}
            </button>
            <button type="button" class="remove">
            {% trans "remove place" %}
            </button>
        </form>
    </div>
    <div id="route" class="popup hidden">
        <p>{% trans "Please, tell us more about the route" %}:</p>
        <form name="route" class="popupform" action="#">
            <textarea name="comment" cols="24" rows="5" ></textarea><br />
            <button type="button" class="save">
            {% trans "save route" %}
            </button>
            <button type="button" class="remove">
            {% trans "remove route" %}
            </button>
        </form>
    </div>
    <div id="area" class="popup hidden">
        <p>{% trans "Please, tell us more about the area" %}:</p>
        <form name="area" class="popupform" action="#" method="post">
            <textarea name="comment" cols="24" rows="5" ></textarea><br />
            <button type="button" class="save">
            {% trans "save area" %}
            </button>
            <button type="button" class="remove">
            {% trans "remove area" %}
            </button>
        </form>
    </div>
</div>

{% for p in proposal_image %}
<div title="{{ p.title }}" class="img_{{ p.id }} image dialog">
    <img alt="{% trans 'proposal image' %}" src="{{ p.image.url }}" width="800" height="521" />
</div>
{% endfor %}

{% endblock %}


{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="https://softgis.org.aalto.fi/OpenLayers212/OpenLayers.js"></script>
<script type="text/javascript" src="{% url api_javascript %}"></script>
<script type="text/javascript" src="{% url map_js map_slug_name='plans' %}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/planning_feedback.js"></script>
<script type="text/javascript">
var proposal_area = {{ proposal_details.project.area.json|safe }};
var data_group = 'PP-{{ proposal_details.project.slug }}-{{ proposal_details.slug }}';


</script>
{% endblock javascript %}
